# Dependencies
node_modules/
venv/
.venv/
env/

# Build outputs
dist/
build/
db/
nueva_interfaz/
out/
*.exe
*.dll
*.so

# Environment variables
.env
.env.local
.env.*.local

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
