/* Estilos Globales para el Panel Administrativo */
:root {
    --primary-color: #4A0E1C;
    --gold-accent: #FBBF24;
}

.material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

body {
    font-family: "Manrope", sans-serif;
    background-color: #2D0811;
    /* fallback */
}

.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #2D0811;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #4A0E1C;
    border-radius: 10px;
}

/* Forzar modo oscuro en selects para visibilidad */
select option {
    background-color: #1a1a1a;
    color: white;
    padding: 8px;
}

select {
    color-scheme: dark;
}